@import url(./fonts.css);

/* CUSTOM PROPS */

:root{
    --dark: #111517;
    --grey: #848484;
    --bg-color: #FAFAFA;
    --nunitosans: "NunitoSans";
}

/* GLOBAL STYLES */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* CONTAINER */

.container{
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}